<!DOCTYPE html>
<html lang="pt" ng-app="unidescApp">

<head>
    <tela charset="UTF-8">
    <meta name="viewport" content="widht=device-widht, initial-scale=1.0">
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">

    <title>Minha Aplicação Angular</title>
</head>
<body ng-controller="produtoController as vm">
    <div class="container">

        <div class="row justify-content-center">

            <form class="form-group">
                <h1>Cadastro de Produtos</h1>
                <label for="inputProduto">Produto</label>
                <input type="text" name="inputProduto" id="inputProduto" placeholder="Digite o Produto" class="form-control" ng-model="vm.produto.nome" required>

                <label for="inputPreco">Preço</label>
                <input type="text" name="inputPreco" id="inputPreco" placeholder="Digite o Preço" class="form-control" ng-model="vm.produto.preco" required>

                <button class="btn btn-primary" type="submit" ng-click="vm.adicionarProduto()">Adicionar</button>
                <button class="btn btn-warning" type="reset" ng-click="vm.limparCampos()">Limpar</button>
            </form>

        </div>
        <div class="row justify-content-center">
            <table class="table-bordered table-striped">
            <tr>
                <th>Produto</th>
                <th>Preço</th>
                <th></th>
                <th></th>
            </tr>
            <tbody>
                <tr ng-repeat="item in vm.produtos track by $index">
                    <td>{{item.nome}}</td>
                    <td>{{item.preco}}</td>
                    <td>
                        <button type="submit" ng-click="vm.deletarItem($index)" >Deletar</button>
                    </td>
                    <td>
                        <button type="submit" ng-click="vm.alterarItem()">Alterar</button>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>

    </div>

    <script src="./node_modules/angular/angular.min.js"></script>
    <script src="./app/app.js"></script>
    <script src="./app/controller.js"></script>

</body>
</html>